
:host {
    display: block;
    height: 45x;
    margin: 15px 0; 
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    
    --bg-color: var(--color-b);
    --bg-hover: var(--color-b-light2);
    --txt-color: var(--very-light-grey);
    --hl-color: var(--color-a);
    --w-color: var(--color-c);
    --wl-color: var(--color-c-light);
}

ul { display: inline-block; max-width: 100%; }
ul li { display: inline-block; }

ul li a, .spacer {
	display: block;
	float: left;
    height: 26px;
    line-height: 26px;
	background: var(--bg-color);
	text-align: center;
	padding: 0 15px;
	position: relative;
	margin: 0 17px 10px 0; 
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: var(--txt-color);
}

ul li.waiting a { background-color: var(--w-color); }
ul li.waiting a:after { border-left: 13px solid var(--w-color); }
ul li.waiting a:before { border-color: var(--w-color) var(--w-color) var(--w-color) transparent; }

ul li.waiting a:hover { background-color: var(--wl-color) !important; }
ul li.waiting a:hover:after { border-left: 13px solid var(--wl-color) !important; }
ul li.waiting a:hover:before { border-color: var(--wl-color) var(--wl-color) var(--wl-color) transparent !important; }

.steps > li:last-child a, .is-home a { background-color: var(--hl-color); }
.steps > li:last-child a:after, .is-home a:after { border-left: 13px solid var(--hl-color); }
.steps > li:last-child a:before, .is-home a:before { border-color: var(--hl-color) var(--hl-color) var(--hl-color) transparent; }
.is-home { background-color: red; }
.steps > li:not(:last-child) a:hover, .is-home a:hover { background: var(--bg-hover); cursor: pointer; }
.steps > li:not(:last-child) a:hover::before, .is-home a:hover::before { border-color: var(--bg-hover) var(--bg-hover) var(--bg-hover) transparent; }
.steps > li:not(:last-child) a:hover::after, .is-home a:hover::after{ border-top: 13px solid transparent; border-bottom: 13px solid transparent; border-left: 13px solid var(--bg-hover); }

.steps > li:last-child a:hover { cursor: default; }

.steps { float: right; display: inline-block; vertical-align: top; }
.steps-wrapper {
    max-width: calc(100% - 160px);
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.home { margin-right: 60px; }

ul li a:after {
    content: "";  
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid var(--bg-color);
    position: absolute; right: -12px; top: 0;
}

ul li a:before {
    content: "";
    position: absolute;
    border-width: 13px 0 13px 13px;
    border-style: solid;
    border-color: var(--bg-color) var(--bg-color) var(--bg-color) transparent;
    left: -13px;	
}

.spacer { padding: 0; }

/* Hide the Before Pseudo Element */
.home a:before {
	display: none; 
}

/* Add Border Radius */
.home a {
	border-top-left-radius: 10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 1px;
}

.before-icon i {
    margin-right: 7px;
}

.after-icon i {
    margin-left: 7px;
}

a.disabled { background-color: yellow !important; }