.tree { margin: 0 35px 20px 0; display: inline-block; vertical-align: top; }

.data-preview { display: inline-block; vertical-align: top; overflow: hidden; border-radius: 4px; border: 1px solid var(--color-b-light); }
    .data-preview[hidden] { display: none; }
    .data-preview td { padding: 3px 10px; }
    .data-preview table { margin: 10px; }
    .data-preview h3 { background-color: var(--color-b-light); margin: 0; padding: 7px 20px;font-weight: normal; font-size: 15px;}

papaya { margin: auto 20px 15px; }