<h2>Import from DICOM</h2>
<form>
    <router-outlet (activate)="onActivate($event)"></router-outlet>

    <!-- <dicom-upload
        class="step-block"
        [open]="opened == 'dicom'"
        [disabled]="false"
        [lastEnabled]="lastEnabled == 'dicom'"
        (validityChange)="dicomValid=$event"
        (inMemoryExtracted)="onFilesExtracted($event)" 
        (archiveUploaded)="onArchiveUploaded($event)"
        (headerClick)="toggle('dicom')">
    </dicom-upload>

    <select-series
        class="step-block"
        [open]="opened == 'series'"
        [disabled]="!seriesEnabled"
        [patients]="importJob?.patients"
        [workFolder]="importJob?.workFolder"
        [dataFiles]="extracted"
        [lastEnabled]="lastEnabled == 'series'"
        (validityChange)="seriesValid=$event"
        (patientsChange)="onPatientsChange($event)"
        (headerClick)="toggle('series')">
    </select-series>

    <clinical-context
        class="step-block"
        [open]="opened == 'context'"
        [disabled]="!contextEnabled"
        [patient]="patient"
        [lastEnabled]="lastEnabled == 'context'"
        (validityChange)="contextValid=$event"
        (contextChange)="onContextChange($event)" 
        (headerClick)="toggle('context')">
    </clinical-context> -->


</form>